<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>
  <appSettings>
    <add key="EndPointUrl" value=""/>
    <add key="AuthorizationKey" value=""/>

    <add key="DatabaseName" value="mycosmos-p"/>
    <add key="CollectionName" value="c1-temp"/>
    <add key="CollectionPartitionKey" value="/location"/>
    <add key="ReadLoopCount" value="500"/>
    



    <add key="CollectionThroughput" value="4000"/>
    <add key="ShouldCleanupOnStart" value="false"/>
    <add key="ShouldCleanupOnFinish" value="false"/>
    
    <!-- determined by the tool -->
    <add key="DegreeOfParallelism" value="-1"/>
    

    <add key="DocumentTemplateFile" value="sensorData.json"/>
  </appSettings>
  <system.diagnostics>
    <trace autoflush="false" indentsize="4">
      <listeners>
        <add name="configConsoleListener" type="System.Diagnostics.ConsoleTraceListener" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>
