<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>
  <appSettings>
    <add key="EndPointUrl" value="https://cosmosbootcamp.documents.azure.com:443/"/>
    <add key="AuthorizationKey" value="hdTCD4kSbqMqg5qk11GlJXhaMT9Xx3fFcIrf9CnYQzGKG5iwpC4UvaFRX9GInfL9yCVLQpXuVo66UDripfWkNw=="/>

    <add key="DatabaseName" value="sensordb"/>
    <add key="CollectionName" value="sensordata"/>
    <add key="CollectionPartitionKey" value="/id"/>
    <add key="ReadLoopCount" value="10000"/>
    



    <add key="CollectionThroughput" value="4000"/>
    <add key="ShouldCleanupOnStart" value="false"/>
    <add key="ShouldCleanupOnFinish" value="false"/>
    
    <!-- determined by the tool -->
    <add key="DegreeOfParallelism" value="-1"/>
    

    <add key="DocumentTemplateFile" value="sensorData.json"/>
  </appSettings>
  <system.diagnostics>
    <trace autoflush="false" indentsize="4">
      <listeners>
        <add name="configConsoleListener" type="System.Diagnostics.ConsoleTraceListener" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>
